<link href="~/css/donanim.css" rel="stylesheet">

<div class="custom-container mt-5">
    <form>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text: center">Devre Ekle</h4>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>Devre Adı:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="bolgeSelect">Bölge:</label>
                <select id="bolgeSelect" class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Devre No:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label for="bulutAdiSelect">Bulut Adı:</label>
                <select id="bulutAdiSelect" class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Bulut Id:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label>Ana Devre No:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>Ip Bloğu:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="DurumSelect">Durumu:</label>
                <select id="DurumSelect" class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Aktif</option>
                    <option value="2">Pasif</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Koordinat:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label class="form-check-label">Mahsup:</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <label>Açıklama:</label>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-between">
                <button type="button" class="btn btn-danger">Vazgeç</button>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </form>
</div>

