<div class="mt-5">
    <h3 class="text-center">Donanım Listesi</h3>
        <div class="input-group mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Arama" aria-label="search" aria-describedby="basic-addon1">
          </div>
        <button class="btn btn-primary float-right btn-turuncu">Detaylı Arama</button>
      </div>
<div class="mt-5 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Markası</th>
              <th>Üst Modeli</th>
              <th>Alt Modeli</th>
              <th>MAC Adresi</th>
              <th>Seri No</th>
              <th>Durumu</th>
              <th>Garanti Süresi</th>
              <th>Alım Tarihi</th>
              <th>Adet</th>
              <th>Poe</th>
              <th>Açıklama</th>
              <th>Birim</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cisco</td>
              <td>8550</td>
              <td>G</td>
              <td>A0-C2-D4-DD-56</td>
              <td>123456789</td>
              <td>Aktif</td>
              <td>18 Ay</td>
              <td>20.08.2022</td>
              <td>300</td>
              <td>Var</td>
              <td>Cisco Telefon</td>
              <td>Karayolları 4. Bölge Müdürlüğü</td>
            </tr>
            <tr>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
            </tr>
            <!-- Diğer satırları burada ekleyebilirsiniz -->
          </tbody>
        </table>
      </div>