@model EnvanterUygulaması.ViewModels.DevreEkleDüzenleVM;

<div class="mt-5">
    <h3 class="text-center">Devre Ekle Düzenle</h3>
</div>
<div class="mt-5">

    
    <form asp-controller="devre" asp-action="DevreEkle" method="post">

        <div class="row mt-3">
            <div class="col-md-4">
                <label asp-for="Adi">Devre Adı:</label>
                <input asp-for="Adi" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label asp-for="BolgeId">Bölge:</label>
                @Html.DropDownListFor(model => model.BolgeId, new SelectList(Model.BolgeList, "id", "Adi"),"Bölge seçiniz",
                new { @class = "form-select", @id="BolgeDD",name="BolgeId"})
            </div>
            <div class="col-md-4">
                <label asp-for="DevreNo">Devre No:</label>
                <input asp-for="DevreNo" type="number" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label asp-for="BulutId" for="bulutAdiSelect">Bulut Adı:</label>
                @Html.DropDownListFor(model=> model.BulutId, new SelectList(Model.BulutList,"id","Adi"),"Bulut Adı Seçiniz",
                new { @class= "form-select", @id="BulutDD",name="BulutId"})
            </div>
            <div class="col-md-4">
                <label>Bulut Id:</label>
                <input id="bulutIdd" type="text" class="form-control" readonly>
            </div>
            <div class="col-md-4">
                <label >Ana Devre No:</label>
                <input id="anaDevreNo" type="text" class="form-control" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label asp-for="IpBlogu">Ip Bloğu:</label>
                <input asp-for="IpBlogu" type="text" class="form-control" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(1\d|2\d|3[0-2])$"
                       data-toggle="tooltip" data-placement="top" title="Örnek: 192.168.125.130/26">
            </div>

            <div class="col-md-4">
                <label asp-for="Durum" for="DurumSelect">Durumu:</label>
                <select asp-for="Durum" class="form-select custom-select" aria-label="Default select example">
                    <option value="Aktif">Aktif</option>
                    <option value="Pasif">Pasif</option>
                </select>
            </div>

            <div class="col-md-2">
                <label asp-for="Mahsup" class="form-check-label">Mahsup:</label>
                <div class="form-check form-switch">
                    <input asp-for="Mahsup" class="form-check-input" type="checkbox" role="switch"
                           data-toggle="tooltip" data-placement="top" title="mahsup">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label asp-for="Koordinat">Koordinat:</label>
            <input asp-for="Koordinat" class="form-control" type="text" pattern="[0-9]*\.[0-9]+,[0-9]*\.[0-9]+"
                   data-toggle="tooltip" data-placement="top" title="Örnek: 36.89123,25.321321">
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <label asp-for="Aciklama">Açıklama:</label>
                <textarea asp-for="Aciklama" class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-end">
                <a href="/Devre/EkledigimDevreler" type="button" class="btn btn-danger">Vazgeç</a>
                &ensp;
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#BulutDD").change(function () { 
            var SecilenBulutId = $(this).val();
            $.ajax({
                type: "POST",
                url: "/List/BulutAlanlariDoldur?BulutId=" + SecilenBulutId,
                success: function (bulut) {
                    $("#bulutIdd").val(bulut.bulutId);
                    $("#anaDevreNo").val(bulut.anaDevreNo);
                    console.log(bulut.bulutId)
                }
            });
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
