<link href="~/css/donanim.css" rel="stylesheet">

<div class="custom-container mt-5">
    <form>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items ust-model ">
                    <label>Marka:</label>
                    <select id="markaSelect" class="form-select custom-select" aria-label="Default select example">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <label>Adı:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 col-sm-6">
                <label>Versiyonu:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 col-sm-6">
                <div class="ust-model  d-flex align-items">
                    <label for="turSelect">Tür:</label>
                    <select id="turSelect" class="form-select custom-select" aria-label="Default select example">
                        <option value="1">Yazılım</option>
                        <option value="2">Donanım</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <label>Cihaz Sayısı:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 col-sm-6">
                <label>Durumu:</label>
                <select class="form-select custom-select" aria-label="Default select example">
                    <option value="1">Aktif</option>
                    <option value="2">Pasif</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>Alım Tarihi:</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-4">
                <label>Destek Süresi:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>Birimi:</label>
                <select class="form-select custom-select" aria-label="Default select example">
                    <option value="1">4. Bölge</option>
                    <option value="2">vsvsvsvs</option>
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <label>Açıklama:</label>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-between">
                <button type="button" class="btn btn-danger">Vazgeç</button>
                &ensp;
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </form>
</div>
