<div class="text-center">
        <h3 class="mt-5">Bildirimler</h3>
      </div>
      <div class="mt-5 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Mesaj</th>
              <th>Tarihi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>... Lisansı bitmesine 10 gün kaldı!</td>
              <td>11.08.2023</td>
            </tr>
            <!-- Diğer satırları burada ekleyebilirsiniz -->
          </tbody>
        </table>
      </div>